[Desktop Entry]
Comment=blender 2.82 updater
Terminal=false
Name=blender-2.82
Exec=~/workspace/blender-update/2.82.sh
Type=Application
Icon=~/workspace/blender-update/blender3.svg
